.btn-gold {
  background-image: url(https://cdn-hogwartslegacy.warnerbrosgames.com/static/gold-button-bg.jpg);
  background-size: cover;
  border-radius: 100px;
  padding: 0.5rem 2rem 0.75rem;
  line-height: 1;
  color: #fff;
  border: 1px solid transparent;
}
